<robot name="simple_box">
  <link name="my_box">

    <inertial>
<!--      <origin xyz="0.6 0 0.05" />-->
       <origin xyz="0.0 0 0.0" />
      <mass value="0.5" />
      <inertia  ixx="0.00015" ixy="0.0"  ixz="0.0"  iyy="0.00015"  iyz="0.0"  izz="0.00015" />
    </inertial>

    <visual>
<!--      <origin xyz="0.6 0 0.05" />-->
      <origin xyz="0.0 0 0.0" />
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </visual>

    <collision>
<!--      <origin xyz="0.6 0 0.05" />-->
       <origin xyz="0.0 0 0.0" />
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>

  </link>

  <gazebo reference="my_box">
    <mu1>3</mu1>
    <mu2>3</mu2>
    <material>Gazebo/RedBright</material>
  </gazebo>

</robot>